---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar';
import Footer from '../components/Footer';
---

<Layout title="Terms of Use | Survival Strategies, Inc." description="Terms of Use for the Survival Strategies, Inc. website. By using this website, you consent to these terms.">
  <Navbar basePath="/pt" client:load />
  <main class="pt-28 pb-20 bg-white">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl sm:text-4xl font-extrabold text-navy-900 mb-10">Terms of Use</h1>

      <div class="prose prose-gray max-w-none space-y-8 text-gray-600 leading-relaxed">
        <p>
          By using this website, you consent to the terms of use and privacy&nbsp;notice.
        </p>

        <section>
          <h2 class="text-xl font-bold text-navy-900 mb-3">Website Operation</h2>
          <p>
            This website is operated and administered by Survival Strategies, Inc. and therefore complies with applicable U.S.&nbsp;law.
          </p>
        </section>

        <section>
          <h2 class="text-xl font-bold text-navy-900 mb-3">Privacy</h2>
          <p>
            Personally identifiable data of the user will be collected and used in compliance with applicable laws. Please refer to our <a href="/privacy" class="text-navy-600 underline hover:no-underline">Privacy Policy</a> for more&nbsp;details.
          </p>
        </section>

        <section>
          <h2 class="text-xl font-bold text-navy-900 mb-3">Copyright</h2>
          <p>
            All materials available on this site are protected by copyright laws. The material placed on this site has been done so under the authority of the copyright owner for the sole purpose of viewing this material by users of this&nbsp;site.
          </p>
        </section>

        <section>
          <h2 class="text-xl font-bold text-navy-900 mb-3">Third-Party Links</h2>
          <p>
            This site may contain hyperlinks to third-party websites. Survival Strategies, Inc. shall have no liability regarding the content of the sites linked to and makes no representations or endorsements regarding them. The use of such hyperlinks is at the sole risk of the&nbsp;user.
          </p>
        </section>

        <section>
          <h2 class="text-xl font-bold text-navy-900 mb-3">Disclaimer of Liability</h2>
          <p>
            All statements made on this site are solely the opinion of Survival Strategies, Inc. and have no bearing on any other group it may or may not be affiliated with. Further, Survival Strategies, Inc. makes no guarantees regarding the accuracy of the information presented on this site and assumes no liability for harm or damages that may come from its use. All statements made on this site are solely the opinion of Survival Strategies, Inc. and are not meant to be any sort of warranty or&nbsp;promise.
          </p>
        </section>

        <section>
          <h2 class="text-xl font-bold text-navy-900 mb-3">Use of Third-Party Intellectual Property</h2>
          <p>
            This site occasionally uses third-party intellectual property such as stock photos. Where this has been done, all possible care was exerted in order to follow appropriate copyright laws, provide proper attribution, etc. These images often are not original to this website or Survival Strategies, Inc. but are owned by others who are allowing them to be used here in accordance with U.S. copyright&nbsp;laws.
          </p>
        </section>

        <section>
          <h2 class="text-xl font-bold text-navy-900 mb-3">Contacting Us</h2>
          <p>If there are any questions regarding these terms of use you may contact us using the information&nbsp;below:</p>
          <address class="not-italic mt-3 space-y-1">
            <p>Survival Strategies, Inc.</p>
            <p>401 East Jackson Street, Suite 2340-E58</p>
            <p>Tampa, FL 33602</p>
            <p>Email: <a href="mailto:contact@survivalstrategies.com" class="text-navy-600 underline hover:no-underline">contact@survivalstrategies.com</a></p>
            <p>Phone: <a href="tel:+18332218002" class="text-navy-600 underline hover:no-underline">(833) 221-8002</a></p>
          </address>
        </section>
      </div>
    </div>
  </main>
  <Footer basePath="/pt" />
</Layout>
